* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #3b4252;
    background-size: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: #3b4252;
}

.menubar {
    width: 95%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.menubar ul {
    width: 80%;
    display: flex;
}

.menubar p {
    display: flex;
    margin-right: 50px;
    cursor: pointer;
    text-align: center;
}

.menutexts {
    color: #d8dee9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bigtext {
    color: #e5e9f0;
    padding: 0 67px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.welcomephoto {
    padding: 0 27px;
}

.circlephoto {
    padding-left: 100px;
}

.lowerthannormal {
    padding-top: 100px;
}

.button {
    margin-left: 70px;
    margin-top: 30px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    font-size: 1.5em;
    color: #fff;
    outline: none;
    border: none;
    display: inline-block;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

.github {
    background-color: #387c6d;
}

.twitter {
    background-color: #046582;
}

.icon {
    margin-right: 0.5rem;
}